@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------Colours */
body{
    background-color: #fffdd0;
}

header{
    background-color: gray;
}

nav{
    background-color: ivory; 
}
/*------------------------------------Special paddings/margins/text */


h1,h2,h3,h4{
    margin:0;

}

.uppercase{
    text-transform: uppercase;
}

/*--------------------------------------Header*/
header{
    margin: 0;
}
.heading{
    margin-left: 50px;
}
.list-inline-item:not(:last-child){
    margin: 0;
}
.menucontainer{
    font-size: 0;
}
#nav{
    margin: 0;
}
#nav li{
    font-size: 14px;
    padding: 0;
}

.menuitem{
    height: 100px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width:80%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}


.menuitem a i {
    padding-top:22px;
    display: block;
    color: #fafafa;
    font-size: 26px; 
}

.menuitem span{
    display:block;
    width: 80%;
    padding-top: 5px;
    text-align: center; 
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px; 
}/*---------------------------------indexsection*/
.about-icon{   
background :url("Assets/Images/Albert SamGRad.JPG"); 
border-radius: 50%;
    border-color: black;
    width: 300px; 
    margin: auto;
}   
.About-heading p{
width:49%;
float:left;
text-align:right;
}



/*---------------------------------edhistory*/
hr { display: block; margin-before: 0.5em; margin-after: 0.5em; margin-start: auto; margin-end: auto; overflow: hidden; border-style: inset; border-width: 1px;}



/*--------------------------------------Work time  */

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}
.timeline-heading{
    position: relative;
    color: black;
    border-left: 1px solid; 
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: grey;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 10px;
    height: 10px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: grey;
}

.education-timeline {
    margin-bottom: 30px;
}
.work-timeline{
    margin-bottom: 30px;
}
/*--------------------------Projects*/
.project-img{
    border: grey;
}


/*-----------------------Footer*/
footer{
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

#Personal-Details{
    padding: 20px; 
}